.container
  .page-header
    %h1
      =t(:'clubs.club_title', name: @club.name)
      %small= t(:'clubs.member_count', count: @club.members.size)

  = render 'member_list_table', members: @club.members_sorted