language: ruby
before_install: 
  - gem install bundler
  - gem update --system
bundler_args: --without documentation production
rvm:
  - 2.0.0
before_script:
  - bin/setup
  - RAILS_ENV=test rake db:reset
  - RAILS_ENV=test rake db:migrate
script:
  - RAILS_ENV=test rake spec
  - RAILS_ENV=test guard-jasmine
services: 
  - postgresql
