.row
  .span10
    .page-header
      %h1= t(:'members.caption.greeting', first_name: @member.first_name, last_name: @member.last_name)
    %p.lead
      %h4= t(:'clubs.caption.news', club_name: @club.name)
      .info-box
        .info-box-caption
          March 2nd 2013
        First Implementation of News Site done