development:
  sessions:
    default:
      database: marozi_development
      # Provides the hosts the default session can connect to. Must be an array
      # of host:port pairs. (required)
      hosts:
        - localhost:27017
      options:
        consistency: :strong
        max_retries: 30
        retry_interval: 1
  options:
    allow_dynamic_fields: true
    use_utc: true

test:
  sessions:
    default:
      database: marozi_test
      hosts:
        - localhost:27017
      options:
        consistency: :strong
        # In the test environment we lower the retries and retry interval to
        # low amounts for fast failures.
        max_retries: 1
        retry_interval: 0
