%h1 text attribute
= edit_link value: 'Leif', field: :first_name, type: 'text', caption: 'The first name', editable_class: 'edit-member'

%h1 select attribute
= edit_link value: 'Female', field: :gender, type: 'select', caption: 'The gender', :'data-field-source' => [{value: 'female', text: 'Female'},{value: 'male', text: 'Male'}].to_json, editable_class: 'edit-member'

%h1 date attribute
= edit_link value: '2013-01-28', field: :member_since, type: 'date', caption: 'Member Since', :'data-field-datepicker' => {language: :en}.to_json, editable_class: 'edit-member'