.editable-container.editable-inline.hide
  .editableform-loading
    = form_tag('#', class: ['form-inline', 'editableform']) do
      .control-group
        %div
          .editable-input
            %input.input-medium{type: 'text'}
          .editable-buttons
            %button.btn.btn-inverse.editable-submit
              %i.glyphicon-ok.glyphicon-white
            %button.btn.editable-cancel
              %i.glyphicon-remove
        %div.editable-error-block.help-block.hide