.container
  .page-header
    %h1
      =t(:'members.caption.new_member')

  = render 'attributes', editable_class: 'new-member', table_head_attributes: {id: 'member', :'data-member-create-url' => members_path, :'data-member-update-url' => member_path(id: '%{id}')}

  %button.btn.btn-inverse#new-member-btn= t(:'members.button.add_member')

:javascript
  MyApp.initFunction(MyApp.initNewMember);